.poster {
    width: 40%;
}

.d-flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.movieInfo {
    width: 50%;
}

.badge {
    display: inline-block;
    background: darkcyan;
    padding: 5px;
    border: 1px solid darkblue;
    border-radius: 5px;
    margin: 5px;
}